Source: libdqtx
Priority: optional
Maintainer: Daniel C. Dillon <dcdillon@gmail.com>
Build-Depends: debhelper (>= 9), qt5-default, libappindicator-dev, libboost-random-dev, g++-4.9
Standards-Version: 3.9.6
Section: libs

Package: libdqtx-dev
Section: libdevel
Architecture: any
Depends: libdqtx0 (= ${binary:Version}), ${misc:Depends}
Description: Dan's Qt eXtension Library
 Development package

Package: libdqtx0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libappindicator1
Description: Dan's Qt eXtension Library
 Binary package
